<launch>
  <arg name="gui" default="true" />
  <param name="use_gui" value="$(arg gui)"/>
  <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360_PC2.launch" />
  <include file="$(find hdl_localization)/launch/hdl_livox.launch" />


  <rosparam command="load" file="$(find amr_hw_control)/config/params.yaml"/>
  <param name="s_on" value="1"/>
  <include file="$(find om_modbus_master)/launch/om_modbusRTU.launch"/>
  <node name="init_motor" pkg="amr_hw_control" type="bringup_motor.py" output="screen"/>
  <node name="drive_motor" pkg="amr_hw_control" type="motor_drive.py" output="screen"/>
  <node name="joy_pub" pkg="joy" type="joy_node" output="screen"/>
  <node name="joy_to_twist" pkg="amr_hw_control" type="joy_to_twist" output="screen"/>
  <node name="twist_to_speed" pkg="amr_hw_control" type="twist_to_speed" output="screen"/>
  <node name="angular_to_odom" pkg="amr_hw_control" type="angular_position_to_odom" output="screen">
    <remap from="odom" to="hweel_odom"/>
  </node>

  <node name="odom_to_pose" pkg="amr_navigator" type="odom_to_pose" output="screen"/>

  <arg name="map_file" default="$(find amr_navigator)/data/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>


  <arg name="model" default="$(find amr_hw_control)/urdf/robot_model.urdf" />
  <arg name="rvizconfig" default="$(find amr_navigator)/rviz/hdl_localization.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />



</launch>
