<launch>

  <include file="$(find om_modbus_master)/launch/om_modbusRTU.launch"/>



  <node name="twist_to_speed" pkg="amr_hw_control" type="twist_to_speed" output="screen"/>

  <rosparam command="load" file="$(find amr_hw_control)/config/params.yaml"/>

  <arg name="model" default="$(find amr_hw_control)/urdf/robot_model.urdf" />
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find amr_navigator)/rviz/path.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <param name="s_on" value="0"/>

  <node name="load_waypoints" pkg="amr_navigator" type="load_waypoints.py" output="screen"/>

  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 100"/>

  <node name="init_pose" pkg="amr_navigator" type="init_pose.py" output="screen"/>



</launch>