<?xml version="1.0"?>
<launch>

  <include file="$(find amr_hw_control)/launch/joy_dummy.launch"/>


  <param name="waypoints_path" value="$(find amr_navigator)/path/waypoints.txt"/>
  <node name="load_waypoints" pkg="amr_navigator" type="load_waypoints.py" output="screen"/>
  <node name="init_pose" pkg="amr_navigator" type="init_pose.py" output="screen"/>
  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 100"/>


  <arg name="map_file" default="$(find amr_navigator)/data/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>


  <arg name="gui" default="true" />
  <param name="use_gui" value="$(arg gui)"/>
  <arg name="rvizconfig" value="$(find amr_navigator)/rviz/path.rviz"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>