<?xml version="1.0"?>
<launch>

  <include file="$(find amr_hw_control)/launch/joy_manual.launch" />
  <node name="init_pose" pkg="amr_navigator" type="init_pose.py" output="screen"/>

  <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360.launch" />





  <node name="imu_transformer" pkg="imu_transformer" type="imu_transformer_node" output="screen">
      <remap from="imu_in/data" to="livox/imu"/>
      <remap from="imu_out/data" to="imu/data"/>
      <param name="target_frame" value="base_link"/>
  </node>



  <node name="pointcloud_to_laserscan" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" output="screen">
    <remap from="cloud_in" to="/cloud_registered_body"/>
    <rosparam command="load" file="$(find amr_navigator)/config/point_livox.yaml"/>
  </node>



  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 100"/>


    <!-- gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" clear_params="true">
    <rosparam command="load" file="$(find amr_navigator)/config/gmapping.yaml" />
    <remap from="scan" to="scan" />
    <param name="base_frame" value="body" />
    <param name="odom_frame" value="camera_init" />
    <param name="map_frame"  value="map" />
  </node>


	<rosparam command="load" file="$(find fast_lio)/config/mid360.yaml" />
	<param name="feature_extract_enable" type="bool" value="0"/>
	<param name="point_filter_num" type="int" value="3"/>
	<param name="max_iteration" type="int" value="3" />
	<param name="filter_size_surf" type="double" value="0.5" />
	<param name="filter_size_map" type="double" value="0.5" />
	<param name="cube_side_length" type="double" value="1000" />
	<param name="runtime_pos_log_enable" type="bool" value="0" />
  <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="screen" />


  <node name="draw_line" pkg="amr_navigator" type="draw_line.py" output="screen"/>
  



  

  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find amr_navigator)/rviz/livox.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
