<?xml version="1.0"?>
<launch>


  <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360_PC2.launch"/>

  <node pkg="tf" type="static_transform_publisher" name="map_to_livox" args="0 0 0 0 0 0 map livox_frame 100"/>




  <node name="multi_object_tracking_lidar" pkg="multi_object_tracking_lidar" type="kf_tracker" output="screen"/>


  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find amr_navigator)/rviz/object.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>