<?xml version="1.0"?>
<launch>

  <arg name="gui" default="true" />


  <node name="pointcloud_to_laserscan" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" output="screen">
    <remap from="cloud_in" to="velodyne_points"/>
    <rosparam command="load" file="$(find amr_navigator)/config/pointcloud_to_laserscan.yaml"/>
  </node>

  <arg name="rvizconfig" default="$(find amr_navigator)/rviz/map.rviz" />

</launch>