<?xml version="1.0"?>
<launch>

  <include file="$(find amr_hw_control)/launch/joy_dummy.launch"/>

  <param name="waypoint_path" value="$(find amr_navigator)/path/waypoints.txt"/>
  <node name="odom_to_pose" pkg="amr_navigator" type="odom_to_pose" output="screen"/>
  <node name="init_pose" pkg="amr_navigator" type="init_pose.py" output="screen"/>
  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 100"/>

  <arg name="map_file" default="$(find amr_navigator)/data/map4.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
  <rosparam file="$(find amr_navigator)/config/costmap_params.yaml" command="load"/>
  <node name="costamp_load" pkg="amr_navigator" type="costmap_load" output="screen"/>


  <node name="draw_line" pkg="amr_navigator" type="draw_line" output="screen">
    <param name="line_ratio" value="8.0"/>
  </node>

<!--line_ratio-->

  <arg name="gui" default="true" />
  <param name="use_gui" value="$(arg gui)"/>
  <arg name="rvizconfig" value="$(find amr_navigator)/rviz/path.rviz"/>


  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />




</launch>