<?xml version="1.0"?>
<launch>

  <node name="joy_pub" pkg="joy" type="joy_node" output="screen"/>
  <node name="joy_to_twist" pkg="amr_hw_control" type="joy_to_twist" output="screen"/>
  <node name="twist_to_speed" pkg="amr_hw_control" type="twist_to_speed" output="screen"/>
  <node name="angular_to_odom" pkg="amr_hw_control" type="angular_position_to_odom" output="screen"/>

  <rosparam command="load" file="$(find amr_hw_control)/config/params.yaml"/>

  <arg name="model" default="$(find amr_hw_control)/urdf/robot_model.urdf" />
  <arg name="gui" default="true" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>


  <arg name="rvizconfig" value="$(find amr_navigator)/rviz/path.rviz"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />


  <node name="odom_to_pose" pkg="amr_navigator" type="odom_to_pose" output="screen"/>
  <node name="load_waypoints" pkg="amr_navigator" type="load_waypoints.py" output="screen"/>

  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 100"/>
  <param name="waypoints_path" value="$(find amr_navigator)/path/waypoints.txt"/>


</launch>